[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
psycopg2-binary = "*"
bcrypt = "==4.0.0"
passlib = {extras = ["bcrypt"], version = "*"}
pyjwt = "*"
alembic = "*"
pydantic = {extras = ["email"], version = "*"}
python-dotenv = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.11"
